// Variables de color
$primary-color: #333; // Un gris oscuro elegante
$secondary-color: #fff; // Blanco
$accent-color: #aeacab; // Un tono de acento cálido
$border-color: #e0e0e0; // Color de borde suave
$shadow-color: rgba(0, 0, 0, 0.1); // Sombra sutil

.shopping-cart-page {
  padding: 2rem;
  background-color: $secondary-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px $shadow-color, 0 2px 4px rgba(0, 0, 0, 0.05);
  max-width: 900px;
  margin: 0 auto;

  h1 {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .shopping-cart-page-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .shopping-cart-page-product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border: 1px solid $border-color;
      border-radius: 5px;
      box-shadow: 0 2px 4px $shadow-color, 0 1px 2px rgba(0, 0, 0, 0.05);
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 4px 8px $shadow-color, 0 2px 4px rgba(0, 0, 0, 0.05);
      }

      &-image {
        flex-shrink: 0;

        img {
          width: 80px;
          height: 80px;
          border-radius: 5px;
          object-fit: cover;
        }
      }

      &-desc {
        flex-grow: 1;
        margin-left: 1rem;

        div {
          font-size: 1rem;
          color: $primary-color;
          margin-bottom: 0.5rem;
        }

        input[type="number"] {
          width: 50px;
          padding: 0.5rem;
          border: 1px solid $border-color;
          border-radius: 4px;
          margin-left: 0.5rem;
        }

        button {
          background-color: $accent-color;
          color: $secondary-color;
          border: none;
          border-radius: 5px;
          padding: 0.5rem 1rem;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #8d8b89; // Ajuste para mejor contraste
          }
        }
      }

      &-price,
      &-total {
        font-weight: bold;
        font-size: 1.2rem;
        color: $primary-color;
        text-align: right;
      }
    }

    .shopping-cart-page-total {
      margin-top: 1rem;
      padding: 1rem;
      border-top: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        font-size: 1.5rem;
        color: $primary-color;
      }

      label {
        margin-right: 1rem;
      }
      button.dark,
      a.dark {
        background-color: #333; // Fondo oscuro
        color: #fff; // Texto blanco
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none; // Eliminar subrayado en enlaces
        display: inline-block;
        text-align: center;
        transition: background-color 0.3s ease, transform 0.3s ease,
          box-shadow 0.3s ease;
        text-transform: uppercase; // Transforma el texto en mayúsculas

        &:hover {
          background-color: #555; // Fondo más claro cuando se pasa el mouse
          transform: translateY(-2px); // Efecto de elevación al pasar el mouse
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); // Sombra sutil al hacer hover
        }

        &:active {
          background-color: #444; // Fondo aún más oscuro al hacer clic
          transform: translateY(0); // El botón vuelve a su posición original
        }
      }

      .dark {
        background-color: $accent-color;
        color: $secondary-color;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #8d8b89; // Ajuste para mejor contraste
        }
      }
    }
  }

  // Estilos responsivos para pantallas pequeñas
  @media (max-width: 768px) {
    .shopping-cart-page {
      padding: 1rem;

      .shopping-cart-page-list {
        gap: 1rem;

        .shopping-cart-page-product {
          flex-direction: column;
          align-items: flex-start;

          &-image {
            margin-bottom: 1rem;
          }

          &-desc {
            margin-left: 0;
            align-items: flex-start;
          }

          &-price,
          &-total {
            text-align: left;
          }
        }
      }
    }
  }
}
