.navbar-menu {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  color: rgb(178, 175, 175);
  border-radius: 1rem;

  a {
    text-decoration: none;
    color: rgb(178, 175, 175);
    padding: 0.5rem 1rem;

    &:hover {
      border-bottom: 2px solid rgb(178, 175, 175);
    }
  }
}
