.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px; // Más padding para mayor espacio
  background-color: #2e2c2c; // Fondo oscuro para un look más sofisticado
  color: #fff; // Texto blanco para contraste
  height: 80px; // Ajusta la altura para que el contenido esté bien centrado
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra más pronunciada para un efecto más elegante
  z-index: 1000; // Asegura que el navbar esté por encima de otros elementos
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  display: block;
}

.menu {
  display: flex;
  gap: 20px; // Espacio entre los elementos del menú
}

.nav-utils {
  display: flex;
  align-items: center;
  gap: 20px; // Espacio entre los elementos de utilidades
}

// Añade más estilos según sea necesario para los elementos del menú y utilidades
