.checkout {
  margin: 2rem;

  &-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    input {
      width: 50%;
      min-width: 200px;
      padding: 1rem;
      font-family: inherit;
      font-size: inherit;
      margin-bottom: 2rem;
    }
  }
}
