.carousel {
  padding: 2rem 1rem;
  background-color: #f0f0f5;
  text-align: center;

  .carousel-title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.03rem;
    margin-bottom: 1.5rem;
    font-family: "Lato", sans-serif;
  }

  .carousel-items-container {
    display: flex;
    justify-content: center;
    gap: 3.8rem;
    flex-wrap: wrap;
  }

  .carousel-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 280px;
    min-height: 380px; // Aumentamos la altura para que la imagen llene mejor el espacio
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      max-height: 400px; // Ajustamos la altura de la imagen para que no haya tanto espacio vacío
      border-bottom: 1px solid #e0e0e0;
    }

    .carousel-item-title {
      font-size: 1rem;
      font-weight: 500;
      padding: 0.75rem;
      background-color: #0a0a0a;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.04rem;
      font-family: "Roboto", sans-serif;
    }
  }
}
