.button-link {
  background-color: red;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  padding: 9px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  max-width: max-content;
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */

  &-label {
    padding-right: 10px;
  }

  &.dark {
    color: black;
    border-color: black;
  }
}

.button-link:hover {
  background-color: rgba(79, 76, 76, 0.715); /* Cambia el color de fondo */
  color: rgb(255, 255, 255); /* Cambia el color del texto */
}
