.Catalog-Sv {
  display: flex;
  flex-direction: column; // Asegura que los productos se apilen verticalmente
  align-items: center; // Centra los elementos horizontalmente
  padding: 20px; // Espaciado alrededor del catálogo
}
